body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-size: 81.25%;
}

a {
	color: #00E;
}

a:visited {
	color: #009;
}

a:hover,
a:focus,
a:active {
	color: #00F;
	text-decoration: none;
}

.cb {
	clear: both;
	visibility: hidden;
	height: 1px;
	line-height: 1px;
}

#page {
	width: 550px;
	border: 2px solid #163754;
	margin: 2em auto 0;
	background: #F4F4FF;
}

#head {
	background: #3f5c75;
	background: -moz-linear-gradient(top, #3f5c75 0%, #163753 100%);
	background: linear-gradient(to bottom, #3f5c75 0%, #163753 100%);
	position: relative;
	min-height: 50px;
	border-top: 1px solid #000;
}

#head h1 {
	margin: 0;
	padding: 0;
	margin-left: 10px;
	margin-top: 13px;
	color: #fff;
}

#head h1 img {
	height: 23px;
}

#head ul {
	padding: .1em 1em .3em .5em;
	background: #425E72;
}

#head li {
	list-style-type: none;
	display: inline;
	padding-right: .5em;
	font-size: .85em;
}

#head a:link,
#head a:visited {
	color: #ACCEE6;
}

#head a:hover {
	color: #FFF;
}

.box {
	margin: 1em;
	border: 1px solid #163754;
	background: #FFF;
	position: relative;
}

.box h2 {
	font-size: 1em;
	font-weight: bold;
	margin: 0 0 .1em;
	padding: .1em 1em;
	background-color: #CFE0EB;
	border-bottom: 1px solid #163754;
}

.box.dynamic {
	display: none;
}

.box.dynamic.visible {
	display: block;
}

#links, .hide {
	position: absolute;
	right: .7em;
	top: .2em;
	font-size: .85em;
}

#show-all-boxes {
	display: none;
}

#show-all-boxes.visible {
	display: inline;
}

#search h2 a {
	color: #000 !important;
	text-decoration: none;
}

#search form {
	margin: .6em 1em;
	padding: 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
	display: -moz-box;
	display: flex;
	align-items: center;
	-moz-box-align: center;
}

#search img {
	max-width: 32px;
	max-height: 32px;
}

#search input[type="text"] {
	width: 22.5em;
	margin: 0 0.5em;
}

#news div {
	width: 45%;
	margin: .6em 1em 0 .9em;
}

#news h3 {
	font-size: 1em;
	margin: 0 0 0 .1em;
}

#news h3 a {
	color: #000 !important;
}

#news ul {
	margin: .5em 0;
	padding: 0;
}

#news li {
	list-style-type: none;
	font-size: .85em;
}

#news ul a {
	display: block;
	padding: .1em .2em;
	margin-bottom: .4em;
}

#news ul a:hover {
	background-color: #FFF8DD;
}

#news ul a:visited:not(:hover) {
	color: #000;
}

#news #kratce {
	float: left;
}

#news #mozilla {
	float: right;
}

#tips p, #update p {
	margin: 10px;
}

.nabidka {
	background-color: #FBEFE7;
	padding: 0 1px 0 1px;
	border: 1px solid #EBC7C7;
	color: #000;
}

.soubor {
	background-color: #D9E6F2;
	border: 1px solid #BED3E4;
	padding: 0 1px 0 1px;
	color: #000;
}

